.container{
    border: 1px solid rgb(61, 78, 231);
   display: flex;
   justify-content: space-around;
   padding: 2%;
   margin-top: 5%;
}
.squares{
    width: 10%;
    height: 25px;
    border: 1px solid rgb(61, 78, 231);
    text-align: center;
    background-color: #a7c8ef;
}
@media (max-width: 1024px) {
    .container {
    display: flex;
    flex-wrap: wrap;
    }
   .squares{
       width: 30%;
   }
   }
   @media (max-width: 720px) {
    .container {
    display: flex;
    flex-wrap: wrap;
    }
   .squares{
       width: 40%;
   }
   @media (max-width: 380px) {
    .container {
    display: flex;
    flex-wrap: wrap;
    }
   .squares{
       width: 50%;
   }
   }